@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}

body{
    background-color: #f0f0f0;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
}

header{
    background-color: #540B0E;
    color: #f0f0f0;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #737373;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-nome {
    background-color: #ffffffa3;
    padding: 10px;
    border: 1px solid #190000;
    border-radius: 15px;
}

.seletor{
    padding: 10px;
    border-radius: 15px; 
}

.btn-converter{
    background-color: #540B0E;
    color: #f0f0f0;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    width: 20%;
}

.inputs-medidas{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 80%;
}

.elementos-home{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center
}

.img-infos{
    height: 100%;
    width: 30%;
}

.intro{
    width: 70%;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
    font-size: 14px;
}

.intro p {
    width: 70%;
    margin-left: 20px;
}

.infos {
    flex-direction: column;
}

.textos-infos{
    flex-direction: column;
}